.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #fff;
}

a:hover{
  color: #fff;
}

.card-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.skills-number {
  color: #aaa;
}

.skills-text {
  width: 70%;
  font-size: 1.68rem;
  text-align: justify;
}

.particle-background {
  background-color: #30323D;
  position: absolute !important;
  top: 12.5vh;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-me-text {
  font-size: 2.4rem;
  text-align: center;
  min-height: 10rem;
  width: 30%;
}

@media screen and (max-width: 500px) {
  .about-me-text {
    width: 60%
  }
}

.slide-in {
  bottom: 0;
  animation: slide-in 1s ease;
}

.slide-out {
  bottom: -30rem;
  animation: slide-out 1s forwards;
}

@keyframes slide-in {
  from {bottom: -30rem;}
  to {bottom: 0;}
}

@keyframes slide-out {
  from {bottom: 0;}
  to {bottom: -30rem;}
}

.skills-icons {
  font-size: 7rem;
  color: #30323D;
}

.skills-icons:hover {
  color: #F9C2DC;
}

.skills-bottom {
  flex-grow: 1;
}
.border-right {
  border-right: 2px solid black;
}

